/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 320px) { 
            /* banner section start from here  */
            .banner{
                padding-top: 100px;
                padding-bottom: 100px;
            }

            .banner .inner-banner h1{
                font-size: 55px;
                margin-bottom: 30px;

            }

            .banner .inner-banner p{
                line-height: 32px;
            }

            /* our offer section start from here=========== */
h2{
    font-size: 30px;
}
.our-offer .our-offer-para{
    padding-left: 30px;
    padding-right: 30px;
}



/* contact responsive section start from here  */
.contact-paragraph{
    
    padding: 0 10px 40px;
}
#contact .inner-contact{
    margin-right: 0;
}
/* contact responsive section end here  */



 }

 /* // Small devices (landscape phones, 576px and up) */
@media (min-width: 321px) and (max-width: 575.98px) { 
            /* banner section start from here  */
.banner{
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner .inner-banner h1{
    font-size: 55px;

}

.banner .inner-banner p{
    line-height: 32px;
}


/* our offer section start from here=========== */
h2{
    font-size: 30px;
}
.our-offer .our-offer-para{
    padding-left: 30px;
    padding-right: 30px;
}

/* contact responsive section start from here  */
.contact-paragraph{
    
    padding: 0 50px 40px;
}
/* contact responsive section end here  */

}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    /* contact responsive section start from here  */
.contact-paragraph{
    
    padding: 0 100px 40px;
}
/* contact responsive section end here  */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

    .nav-link{
        margin-bottom: 15px;
    }
    /* banner section start from here  */
.banner{
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner .inner-banner h1{
    font-size: 55px;

}



/* our offer section start from here ====================== */

h2{
    font-size: 40px;
}
.our-offer .our-offer-para{
    padding-left: 100px;
    padding-right: 100px;
}

/* contact responsive section start from here  */
.contact-paragraph{
    
    padding: 0 100px 40px;
}
/* contact responsive section end here  */

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}